@media (max-width:800px) {
    .flex-container{
        flex-direction: column;
        height: auto;
    }
    .button-sign{
        position: relative;
        top: 0%;
        right: 0%;
    }
    .brand-name{
        font-size: 1rem;
        position: relative;
        top: -40%;
    }
    .flex-item-left{
        margin: 2%;
    }
    .flex-item-middle{
        margin: 2%;
    }
    .flex-item-right{
        margin: 2%;
    }
    .flex-right{
        width: 100%;
        border: 2px solid red;
        margin-left: 0%;
        overflow: auto;
    }
    .to-do-app-flex-item{
        height: auto;
    }
    .titles{
        font-size: 1.2rem;
        display: block;
        background-color: rgb(48, 207, 42);
        padding: 4px;
        color: white;
    }
    .form-decor{
        border: 2px solid rgb(48, 207, 42);
        padding: 5px;
        width: 15%;
        height: fit-content;
    }
    .input-box input, .input-box textarea{
        border-bottom: 2px solid rgb(48, 207, 42);
        border-top : 1px solid white;
        border-left : 1px solid white;
        border-right : 1px solid white;
        outline: none;
        color:rgb(118, 1, 252);
        margin: 0px;
    }
    
    .input-box textarea{
        height: 20px;
        width:fit-content;
        resize: vertical;
    }
}
